@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-archivo);
  --font-mono: var(--font-space-mono);
}

body {
  background: #f4f4f0;
  color: #000;
}

::selection {
  background: #f8e800;
}
